@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap");

.ToDoList {
  margin: 0 auto;
  width: 70vw;
  min-height: 40vh;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ToDoList-header {
  padding-top: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 800;
}
.ToDoList-form {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-bottom: 15px;
}
.ToDoList-list-container {
  margin-top: 30px;
  width: 62vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
